body {
  margin:0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top:0;
  margin-left: 15%;
  margin-right:5%;
  padding:0;
}

li {
  display:inline-block;
  vertical-align: top;
  padding-right:55px;
}

li a {
  display:block;
  padding: 15px 5px 15px 5px;
  color:white;
  font-family: Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  text-decoration: none;
}

li a:hover {
  color:#d3d3d3;
}

h1 {
  font-size:50px;
  font-weight:bold;
  letter-spacing: -0.088px;
  color:rgb(17,17,17);
  line-height: 48px;
}

h3 {
  font-size:25px;
  font-weight:lighter;
  color:#333;
  margin-top:-20px;
}

h4 {
  color: #3299CC;
  font-size:19px;
  font-weight:lighter;
  margin-top:-10px;
}

.navigation {
  height:44px;
  width:100%;
  padding: 0;
  background-color: rgba(0,0,0,0.8);
}

.iphonex {
  display:block;
}

.iphonex__content {
  padding-top:60px;
  font-family:Helvetica, sans-serif;
  text-align: center;
  display:block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

#iphonex__content__header {
  color:black;
}

#iphonex__content__img {
  display:block;
  padding-top:50px;
}
